*{
	margin: 0;
	font-family: sans-serif;
}

#alarm-clock-container , #alarmlist{
	min-width: 300px;
}

.left{
	display: flex;

}
.alarm :first-child{
	
}

.naviga{
		font-size:2rem;
		font-family: sans-serif;
		text-shadow: 2px 2px 4px 5px lightgrey;
		margin:  1px auto 1px 10px;
}
.mainIcon{
	width: 30px;
	height: 30px;
	margin: auto 5px;
}

.mainIcon > img{
	width: 100%;
	height: 100%;
}

/* 	================= DARK MODE ============*/

#darkBtn{
	height: 40px;
}
#darkBtn > img{
	height: 100%;
	width: 100%;
}

.dark{
	background-color: #15212b;
	/* background-color: black; */
	color: white;
}
.darkLight{
	background-color: #283c4e;
	color: white;
}

.navRight > p , .trashBin{
	cursor: pointer;
}


			/* 			Media Query at 'md'breakPoint		 */
@media all and (max-width: 768px) {
	#main{
		align-items: center;
	}
}